{% extends 'base.html' %}


{# Redefine o bloco 'titulo': aparece na aba do navegador #}
{% block titulo %}Nossos Produtos{% endblock %}


{# Redefine o bloco 'conteudo': é aqui que fica o conteúdo único desta página #}
{% block conteudo %}

  <div class="row">

    <div class="col-12 mb-4">
      <h1 class="display-5">Dá uma olhada nos nossos produtos</h1>
      <p class="lead text-muted">
        Lembrando que fumar faz mal!
      </p>
      <hr>
    </div>

    {# Três cards de resumo usando o grid do Bootstrap #}
    <div class="col-md-4 mb-3">
      <div class="card border-primary h-100">
        <div class="card-body text-center">
          <div class="display-4 mb-2"><img style="width: 100%; height: 100%; object-fit: contain;" src="\static\imgs\tabaco.jpg" alt=""></div>
          <h5 class="card-title">Tabacos</h5>
          <p class="card-text text-muted">Clássicos ou com sabores diferentes!</p>
          <a href="/tabacos" class="btn btn-primary">Tabacos!</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card border-success h-100">
        <div class="card-body text-center">
          <div class="display-4 mb-2"><img style="width: 100%; height: 100%; object-fit: contain;" src="\static\imgs\isqueiro.jpg" alt=""></div>
          <h5 class="card-title">Acessórios</h5>
          <p class="card-text text-muted">Tudo o que você precisa pra montar o seu!</p>
          <a href="/acessorios" class="btn btn-success">Acessórios!</a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}